PORT=3000
NODE_ENV=development

DATABASE_URL=postgres://postgres:password@127.0.0.1:5432/lendqr_wallet
DB_SSL=false

ADJUTOR_BASE_URL=https://adjutor.lendsqr.com/v2
ADJUTOR_API_KEY=your_adjutor_api_key_here
ADJUTOR_TIMEOUT_MS=5000

JWT_SECRET=change_this_to_a_long_random_secret
